{% extends 'movie_admin/base.html' %}
{% block content %}

<div>
    <div>Movie Admin Portal: {{user.username}}</div>
    <a href="/movie_admin_portal/logout/">Logout</a>
    <a href="/movie_admin_portal/auth/">Home</a>
    <a href="/movie_admin_portal/order_list/">Orders</a>
    <a href="/movie_admin_portal/manage_movies/">Movies</a>
    <div href="/movie_admin_portal/history/">Earnings: ${{wallet}}</div>
</div>

<h3 style="padding-top:30">History</h3>

<div style="padding:18">
<table class="table">
    <tr>
        <th>Name</th>
        <th>Rent</th>
        <th>Days</th>
        <th>Duration</th>
    </tr>
    {% for order in order_list %}
    <tr>
        <td>{% ifchanged %}{{order.movie.movie_name}}{% endifchanged %}</td>
        <td>{% ifchanged %}${{order.rent}}{% endifchanged %}</td>
        <td>{% ifchanged %}{{order.days}}{% endifchanged %}</td>
        <td>{% ifchanged %}{{order.movie.duration}}{% endifchanged %}</td>
        <td><form action = "/movie_admin_portal/complete/" method="post">
            {% csrf_token %}
        </form>
    </td>
    </tr>
{% endfor %}
</table>
</div>

{% endblock %}
