{% extends 'movie_admin/base.html' %}
{% block content %}
{% load static %}

<div>
    <div>Movie Admin Portal: {{user.username}}</div>
    <a href="/movie_admin_portal/logout/">Logout</a>
    <a href="/movie_admin_portal/order_list/">Orders</a>
    <a href="/movie_admin_portal/manage_movies/">Movies</a>
    <a href="/movie_admin_portal/history/">Earnings</a>
</div>

<div>
    <div>
        <h3>
            <center>Post a Movie<center>
        </h3>

        <form action="/movie_admin_portal/add_movie/" method="post">
            {% csrf_token %}
            <lable>Movie Name: </lable> <input class="form-control" type="text" name="movie_name"><br>
            <lable>Genre: </lable> <input class="form-control" type="text" name="genre"><br>
            <lable>City: </lable> <input class="form-control" type="text" name="city"><br>
            {% comment %} <lable>Pincode: </lable> <input type="text" name="pincode"><br> {% endcomment %}
            <lable>Description: </lable> <input class="form-control" type="text" name="description"><br>
            <lable>Duration: </lable> <input class="form-control" type="text" name="duration"><br>
            <input type="submit" class="btn btn-primary" value="Add Movie"><br>
        <form>
    </div>

    <div>
    {% comment %} <img src="{% static "images/car.jpg" %}" width="750px"> {% endcomment %}
</div>

{% endblock %}
