{% extends 'movie_admin/base.html' %}

{% block content %}

<div style="height:500px;">
    <div>
        <form action="/movie_admin_portal/auth/" method="POST">
            {% csrf_token %}
            <lable>Username</lable><input type="text" name="username"><br><br>
            <lable>Password</lable><input type="password" name="password"><br><br>
            <input type="submit" value="Login">
        </form><br>
        <div>
            <a href="/movie_admin_portal/register/">Register as Movie Admin</a>
            <a href="/">Home</a>
        </div>
    </div>
</div>
{% endblock %}
