{% extends 'customer/base.html' %}
{% block content %}
<div>
  <a href="/customer_portal/login/">Login</a>
  <a href="/">Home</a>
</div>

<div  style="height:1000px;">
<div>

<h2>Registration Form</h2>

<form action="/customer_portal/registration/" method="POST">
    {% csrf_token %}
    <lable>Name: </lable><input class="form-control" type="text" name="name"><br>
    <lable>Username: </lable><input class="form-control" type="text" name="username"><br>
    <lable>Password: </lable><input class="form-control" type="password" name="password"><br>
    <lable>Email: </lable><input class="form-control" type="text" name="email"><br>
    <lable>Phone number: </lable><input class="form-control" type="text" name="phone_number"><br>
    <lable>City: </lable><input class="form-control" type="text" name="city"><br>
    <input class="btn btn-primary" type="submit"><br>
</form>

</div>
</div>
{% endblock %}
